<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Sign up</h1>
    <form action='/' method='post'>
      <label for='email'>Email</label>
      <p><input type='text' id='email' name='email'></p>
      <label for='password'>Password</label>
      <p><input type='text' id='password' name='password'></p>
      <label for='confirmPassword'>Confirm Password</label>
      <p><input type='text' id='confirmPassword' name='confirmPassword'></p>
      <p><input type='submit' value='Submit'></p>
    </form>
    <% errors.forEach(function(error) { %> 
    <p><%= error %></p>
  <% }) %>
  </body>
</html>
