<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <p>You've successfully signed up/signed in <strong><%= user.email %></strong>!</p>
       <h1>Add a student</h1>
    <form action='/addStudent', method='post'>
       <label for='name'>Name</label>
      <p><input type='text' id='name' name='name'></p>
      <label for='phone'>Phone Number</label>
      <p><input type='text' id='phone' name='phone'></p>
      <p><input type='submit' value='Submit'></p>
    </form>
<% errors.forEach(function(error){ %> 
<p><%= error %></p>
<% }) %>

<h2><a href="/students">Click to View Current Students</a></h2>

    <a href='/logout'>Logout</a>
      </body>
</html>